/* Styling the main component App */
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

/* inside container styling */

.inside-container {
  display: flex;
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.inside-container:hover{
  background-color: #E1E8ED;
  transition: color 100ms ease-out;
}

.inside-container > h2{
  margin-left: 20px;
  font-weight: 400;
  font-size: 1.7rem;
}