/* Styling the main component App */
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

/* inside container styling */

.inside-container {
  display: flex;
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
  padding: 4px 6px;
}

.inside-container:hover {
  background-color: #e1e8ed;
  transition: color 100ms ease-out;
}

.inside-container > .icon,
.twitter-icon {
  font-size: 2em;
}

.inside-container > h2 {
  font-weight: 400;
  font-size: 1.6rem;
}

.twitter-icon {
  color: #1da1f2;
  border-radius: 50px;
  margin: 0 20px;
  font-size: 3rem !important;
}

/* sidebar styling */
.sidebar {
  flex: 0.2;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.twitter-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  margin-top: 13px;
  margin-left: 20px;
}

.twitter-icon-wrapper:hover {
  background: #e0f3ff;
}

#nav-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding-left: 5px;
}

#row {
  display: flex;
  align-items: center;
  outline: none;
  padding: 10px;
  border: none;
  padding-right: 20px;
  margin-left: 13px;
  margin-top: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-out;
  background: transparent;
}

#row:hover {
  background: #e2e2e2c4;
}

.twitter-icon {
  color: #1d9bf0;
  font-size: 32px;
}

#tweet {
  width: 225px;
  height: 52px;
  color: #f5f5f5;
  transition: 0.2s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: bold;
  background-color: #1d9bf0;
  margin: 20px 0 0 10px;
  outline: none;
  border: none;
  border-radius: 50px;
}

#tweet:hover {
  background-color: #1a8bd6;
  cursor: pointer;
}

/* Create Tweet Component */
.tweet-container {
  padding-bottom: 10px;
  border-bottom: 8px solid #e1e8ed;
  padding: 10px;
}

.tweet-container > form {
  display: flex;
  flex-direction: column;
}

.create-tweet-box {
  display: flex;
  padding: 20px;
}

.create-tweet-box > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweet-box-image {
  border: 1px solid #1d9bf0;
  padding: 15px;
}

.create-tweet-box > input:focus {
  outline: none;
}

.create-tweet-button {
  margin-top: 20px !important;
  border-radius: 20px !important;
  margin-left: 60% !important;
  height: 45px !important;
  background-color: #1d9bf0 !important;
  color: whitesmoke !important;
  text-transform: inherit;
  width: 200px;
}

/* display tweets component styling */

.display-tweets {
  display: flex;
  min-height: 40px;
  padding: 5px;
  border-bottom: 0.3px solid #e2e2e2c4;
}

.display-tweets:hover {
  background-color: #f5f8fa;
  transition: 0.2s ease-in-out;
}
#user-avatar {
  height: 100%;
  width: 68px;
}

#user-avatar > Avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
  padding-left: 15px;  
}

#user-id{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user-name{
  font-weight: bold;
}

#display-tweets-body{
  width: 90%;
  padding-left: 10px;
}

#username, #date-posted{
  color: #aab8c2;
  margin-left: 5px;
}

#flex-disp{
  display: flex;
  align-items: center;
  justify-content: center;
}

#more-options{
  display: flex;
  width: 27px;
  height: 27px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#more-options:hover{
  background-color: #e0f4ff;
}

#tweet-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
#tweet-text{
  width: 100%;
  text-align: left;
  margin-right: 3px;
  font-size: 1rem;
  font-weight: 400;
}

#twitter-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-top: 18px;
  margin-bottom: 10px;
}

.tweet-body {
  flex: 1;
  padding: 10px;
}

.tweet-header-text > h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.verified-badge {
  font-weight: 400;
  font-size: 12px;
  color: gray;
}

.verified-badge > .badge {
  font-weight: 10px;
  color: #1da1f2;
}

.tweet-body-text {
  font-size: 15px;
  margin-bottom: 20px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* feed component styling */
.feed {
  flex: 0.5;
  border-right: #e1e8ed 1px solid;
  min-width: 500px;
  overflow-y: scroll;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid #e1e8ed;
  padding: 15px 20px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed-header > h2 {
  font-size: 20px;
  font-weight: 700;
}

/* trends component styling */
.widgets {
  flex: 0.3;
  overflow-y: scroll;
  width: auto;
}

.widgets::-webkit-scrollbar {
  display: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #f5f8fa;
  padding: 10px;
  margin: 10px 0 0 20px;
  border-radius: 20px;
}

.search-wrapper > input {
  border: none;
  background-color: #f5f8fa;
}

.search-wrapper > input:focus {
  outline: none;
}

.search {
  color: #aab8c2;
}

.widgets-wrapper {
  background-color: #f5f8fa;
  border-radius: 20px;
  margin: 15px 0 0 20px;
  padding: 20px;
}

.widgets-wrapper > h2 {
  font-size: 18px;
  font-weight: 700;
}
