/* Styling the main component App */
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

.inside-container {
  display: flex;
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

